/*Controlls and common stuff*/
.label {
  -fx-font-size: 14px;
  -fx-font-weight: bold;
  -fx-alignment: center-right;
}

.text-field {
  -fx-font-size: 14px;
  -fx-font-weight: bold;
  -fx-text-fill: #000000;
  -fx-alignment: center-left;
}

.button {
  -fx-background-color: #000000, 
	linear-gradient(#7ebcea, #2f4b8f),
	linear-gradient(#426ab7, #263e75),
	linear-gradient(#395cab, #223768);
	-fx-background-inserts:0,1,2,3;
	-fx-background-radius:3,2,2,2;
	-fx-text-fill: white;
	-fx-font-size: 14px;
}

.infolabel {
-fx-font-size: 10px;
-fx-font-weight: bold;
}

.statusLabel {
-fx-padding: 5.0px;
    -fx-min-width: 100.0;
    -fx-max-width: 1000.0;
    -fx-alignment: center; 	
    -fx-text-fill: #B20939; 
    -fx-font-size: 14;
}

.titlelabel {
-fx-font-weight: bold; 
-fx-font-size: 16;
}

#TopBox {
	-fx-alignment: center;
	-fx-spacing: 5px;
}

#StatusBox {
	-fx-alignment: center;
	-fx-spacing: 5px;
}

#BottomBox {
	-fx-alignment: center;
	-fx-spacing: 5px;
}

#IP {
	-fx-pref-width: 200px;
}

#Port {
	-fx-pref-width: 200px;
}

/*TabelView*/
.table-view .column-header .label{
   -fx-alignment: CENTER_LEFT;
}

.table-view .cell{
  -fx-cell-size: 30;
  -fx-alignment: CENTER_LEFT;
   
}
.table-row-cell:selected {
   -fx-background-color: #1577c2;
}

/*MenuBar*/
.menu-bar .menu-button:hover, .menu-bar .menu-button:focused, .menu-bar .menu-button:showing {
    -fx-background-color: #000000, 
	linear-gradient(#7ebcea, #2f4b8f),
	linear-gradient(#426ab7, #263e75),
	linear-gradient(#395cab, #223768);
    -fx-text-fill: white;
    -fx-font-size: 12px;
}

.menu-item .label:hover{
    -fx-background-color: #000000, 
	linear-gradient(#7ebcea, #2f4b8f),
	linear-gradient(#426ab7, #263e75),
	linear-gradient(#395cab, #223768);
    -fx-text-fill: white;
    -fx-font-size: 12px;
}
.menu-item:focused {
    -fx-background-color: #000000, 
	linear-gradient(#7ebcea, #2f4b8f),
	linear-gradient(#426ab7, #263e75),
	linear-gradient(#395cab, #223768);
    -fx-text-fill: white;
    -fx-font-size: 12px;
}

/*Validation*/
.usernameok {
  -fx-text-fill: green;
}

.usernameNotOk {
  -fx-text-fill: red;
}

.passwordOk {
  -fx-text-fill: green;
}

.passwordNotOk {
  -fx-text-fill: red;
}
.comboboxOk {
  -fx-outer-border: green;
}

.comboboxNotOk {
  -fx-outer-border: red;
}

.inputOk {
  -fx-text-fill: green;
}

.inputNotOk {
  -fx-text-fill: red;
}